[flake8]
ignore =
    E501,
    F405,
    F403
builtins =
    Buffer,
    Voice,
    pen,
    flip,
    init,
    start,
    quit,
    _logo,
    play,
    clip,
    blend,
    target,
    camera,
    cursor,
    alpha,
    spritesheet,
    clear,
    pixel,
    line,
    hline,
    vline,
    rect,
    frect,
    circle,
    fcircle,
    ellipse,
    fellipse,
    poly,
    fpoly,
    blit,
    sprite,
    text,
    measure,
    rgb,
    hsv,
    intersects,
    intersection,
    contains,
    pressed,
    button,
    battery,
    led,
    backlight,
    UP,
    DOWN,
    LEFT,
    RIGHT,
    A,
    B,
    X,
    Y,
    COPY,
    ALPHA,
    MASK,
    CHERRY,
    APPLE,
    BANANA,
    ORANGE,
    AUBERGINE,
    CARROT,
    POTATO,
    LEAF,
    PARSNIP,
    MEAT,
    BEAN,
    RADISH,
    STRAWBERRY,
    PUMPKIN,
    CUCUMBER,
    SALT1,
    SWORD1,
    SWORD2,
    SWORD3,
    AXE1,
    DAGGER,
    MACE1,
    BOW,
    ARROW1,
    ARROW2,
    ARROW3,
    TRIDENT1,
    SPEAR,
    TRIDENT2,
    MACHINEGUN,
    PISTOL,
    SHOTGUN,
    GEM1,
    GEM2,
    GEM3,
    GEM4,
    GEM5,
    GEM6,
    AMULET,
    FOLDER,
    COIN1,
    IDOL1,
    IDOL2,
    IDOL3,
    IDOL4,
    SWEETCORN,
    BROCCOLI,
    BISCUIT,
    BERRIES,
    SCEPTRE,
    FIRE,
    LASERGUN1,
    LASERGUN2,
    HELMET1,
    HELMET2,
    HELMET3,
    HELMET4,
    __1,
    __2,
    __3,
    __4,
    HEART1,
    SLIME,
    COIN2,
    SWORD4,
    SWORD5,
    __5,
    DYNAMITE,
    MEDPACK,
    GOGGLES,
    HELMET5,
    BOMB,
    OILCAN,
    SHIRT1,
    SHIRT2,
    SPEECH,
    DREAM,
    HEART2,
    HEART3,
    HEART4,
    __6,
    TORCH,
    ICE,
    __7,
    __8,
    __9,
    __10,
    UPARROW,
    RING1,
    RING2,
    RING3,
    RING4,
    __11,
    TOKEN,
    VIAL1,
    VIAL2,
    RING5,
    RING6,
    BLOCK1,
    BLOCK2,
    BLOCK3,
    BLOCK4,
    BLOCK5,
    BLOCK6,
    BLOCK7,
    BLOCK8,
    BLOCK9,
    SHIELD1,
    SACK,
    BUTTON,
    VIAL3,
    VIAL4,
    TOOTH,
    BONE,
    HALFBLOCK1,
    HALFBLOCK2,
    HALFBLOCK3,
    HALFBLOCK4,
    HALFBLOCK5,
    HALFBLOCK6,
    HALFBLOCK7,
    HALFBLOCK8,
    HALFBLOCK9,
    SHIELD2,
    SHIELD3,
    FLOWER1,
    FLOWER2,
    FLOWER3,
    FLOWER4,
    STAFF1,
    STAFF2,
    STAFF3,
    STICK1,
    SPIKEBALL,
    MACE2,
    AXE2,
    __12,
    SWORD6,
    SWORD7,
    SWORD8,
    CROWN1,
    GOLD,
    GEM7,
    GEM8,
    GEM9,
    AXE3,
    MUSHROOM,
    SALT2,
    STICK2,
    VIAL5,
    VIAL6,
    DOT,
    HELMET6,
    SWORD9,
    SWORD10,
    SWORD11,
    CROWN2,
